/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #288bc8;
  --ifm-color-primary-dark: #247db4;
  --ifm-color-primary-darker: #2276aa;
  --ifm-color-primary-darkest: #1c618c;
  --ifm-color-primary-light: #3297d6;
  --ifm-color-primary-lighter: #3c9dd8;
  --ifm-color-primary-lightest: #5aacde;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #5e9ee4;
  --ifm-color-primary-dark: #428ddf;
  --ifm-color-primary-darker: #3585dd;
  --ifm-color-primary-darkest: #206dc1;
  --ifm-color-primary-light: #7aafe9;
  --ifm-color-primary-lighter: #87b7eb;
  --ifm-color-primary-lightest: #b1d0f2;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer .footer__links {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
}
